%section_text_01 {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: var(--global-primary-text-color);
}

%section_text_02 {
  font-size: 28px;
  line-height: 40px;
  color: var(--global-primary-text-color);
  margin-top: 20px;
}

%section_text_03 {
  font-size: 18px;
  line-height: 30px;
  color: var(--global-primary-text-color);
  margin-top: 20px;
}
