.question {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
  }

  &__frame {
    width: 80%;

    &__input {
      margin-top: 20px;
    }
  }
}