@import './variables.scss';

/* Fonts utils */
%text__gilroy {
  font-family: var(--font-family-ttnorms), system-ui;
}

%text__display01Size {
  font-size: 3.5rem;
  line-height: 4rem;
}

%text__display02Size {
  font-size: 3rem;
  line-height: 3.5rem;
}

%text__display03Size {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

%text__headline01Size {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

%text__title01Size {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

%text__title02Size {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}

%text__title03OrBody01Size {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.00875rem;
}

%text__body02Size {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.0075rem;
}

%text__label01Size {
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.0275rem;
}

/* ========================================================================================== */

/* Display/01 */
%text__display01Regular {
  @extend %text__gilroy;
  @extend %text__display01Size;
  font-weight: 400;
}

%text__display01SemiBold {
  @extend %text__gilroy;
  @extend %text__display01Size;
  font-weight: 600;
}

%text__display01ExtraBold {
  @extend %text__gilroy;
  @extend %text__display01Size;
  font-weight: 800;
}

/* ========================================================================================== */

/* Display/02 */
%text__display02Regular {
  @extend %text__gilroy;
  @extend %text__display02Size;
  font-weight: 400;
}

%text__display02SemiBold {
  @extend %text__gilroy;
  @extend %text__display02Size;
  font-weight: 600;
}

%text__display02ExtraBold {
  @extend %text__gilroy;
  @extend %text__display02Size;
  font-weight: 800;
}

/* ========================================================================================== */

/* Display/03 */
%text__display03Medium {
  @extend %text__gilroy;
  @extend %text__display03Size;
  font-weight: 500;
}

%text__display03Bold {
  @extend %text__gilroy;
  @extend %text__display03Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Headline/01 */
%text__headline01Medium {
  @extend %text__gilroy;
  @extend %text__headline01Size;
  font-weight: 500;
}

%text__headline01Bold {
  @extend %text__gilroy;
  @extend %text__headline01Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Headline/02 */
%text__headline02Medium {
  @extend %text__gilroy;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* ========================================================================================== */

/* Title/01 */
%text__title01Medium {
  @extend %text__gilroy;
  @extend %text__title01Size;
  font-weight: 500;
}

%text__title01Bold {
  @extend %text__gilroy;
  @extend %text__title01Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Title/02 */
%text__title02Medium {
  @extend %text__gilroy;
  @extend %text__title02Size;
  font-weight: 500;
}

%text__title02Bold {
  @extend %text__gilroy;
  @extend %text__title02Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Title/03 */
%text__title03Medium {
  @extend %text__gilroy;
  @extend %text__title03OrBody01Size;
  font-weight: 500;
}

%text__title03Bold {
  @extend %text__gilroy;
  @extend %text__title03OrBody01Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Body/01 */
%text__body01Regular {
  @extend %text__gilroy;
  @extend %text__title03OrBody01Size;
  font-weight: 400;
}

%text__body01Medium {
  @extend %text__gilroy;
  @extend %text__title03OrBody01Size;
  font-weight: 500;
}

%text__body01Bold {
  @extend %text__gilroy;
  @extend %text__title03OrBody01Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Body/02 */
%text__body02Regular {
  @extend %text__gilroy;
  @extend %text__body02Size;
  font-weight: 400;
}

%text__body02Medium {
  @extend %text__gilroy;
  @extend %text__body02Size;
  font-weight: 500;
}

%text__body02Bold {
  @extend %text__gilroy;
  @extend %text__body02Size;
  font-weight: 700;
}

/* ========================================================================================== */

/* Label/01 */
%text__label01Regular {
  @extend %text__gilroy;
  @extend %text__label01Size;
  font-weight: 400;
}

%text__label01Medium {
  @extend %text__gilroy;
  @extend %text__label01Size;
  font-weight: 500;
}

%text__label01Bold {
  @extend %text__gilroy;
  @extend %text__label01Size;
  font-weight: 700;
}

/* ========================================================================================== */
