@font-face {
  font-weight: 400;
  font-family: var(--font-family-ttnorms);
  src: url("/fonts/TTNorms-Regular") format("otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --global-primary-background-color: #a7b79f;
  --global-secondary-background-color: #ffffff;
  --global-footer-background-color: #e9efe9;
  --global-neutral-background-color: #f8f9fa;
  --global-primary-text-color: #0b3b3c;
  --font-family-ttnorms: "TT Norms";
}
