@import "../LandingPage.module.scss";
@import "../../../styles/variables.scss";

.section02 {
  &__container {
    @include sectionContainer(15%);
  }

  &__text {
    &__title {
      font-size: 40px;
      line-height: 60px;
      color: var(--global-primary-text-color);

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }
    }
  }

  &__content {
    &__container {
      @extend %content_container;
      margin-top: 50px;

      @media (max-width: $tablet) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    &__image {
      @extend %content_image;
    }

    &__text {
      &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }

      &__group {
        @extend %content_text_group;
      }

      &__01 {
        @extend %section_text_01;
      }

      &__02 {
        @extend %section_text_02;
      }

      &__03 {
        @extend %section_text_03;
      }
    }
  }
}
